<%-include('../includes/header') -%>

<!-- edit.ejs -->
<div class="max-w-md mx-auto mt-10 bg-white p-6 rounded-md shadow-md">
    <form method="post" action="/update/<%= index %>" enctype="multipart/form-data">
      <!-- Champ de formulaire pour le nom -->
      <div class="mb-4">
        <label for="editFirstname" class="text-lg font-semibold">Nom</label>
        <input type="text" id="editFirstname" name="editFirstname" value="<%= formDataToEdit.firstname %>" required>
      </div>
  
      <!-- Champ de formulaire pour le prénom -->
      <div class="mb-4">
        <label for="editLastname" class="text-lg font-semibold">Prenom</label>
        <input type="text" id="editLastname" name="editLastname" value="<%= formDataToEdit.lastname %>" required>
      </div>
  
      <!-- Champ de formulaire pour l'e-mail -->
      <div class="mb-4">
        <label for="editEmail" class="text-lg font-semibold">Email</label>
        <input type="email" id="editEmail" name="editEmail" value="<%= formDataToEdit.email %>" required>
      </div>
  
      <!-- Bouton de soumission du formulaire -->
      <input type="submit" class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600" value="Modifier">
    </form>
  </div>

<%-include('../includes/footer') -%>
